#datetime-picker {
  width: 272px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
  font-style: normal;
}
#datetime-picker:hover {
  border-color: black;
}

#datetime-picker:active {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
}

.timer {
  display: flex;
  gap: 24px;
}

#start {
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  border: #4e75ff;
}

#start:hover {
  background-color: #6c8cff;
}

#start:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 120px;
}

#inputDelay {
  height: 32px;
  width: 360px;
  padding-left: 8px;
  font-size: 28px;
  padding: 0;
}

label #inputDelay:focus {
  border-color: #4e75ff;
}

fieldset {
  width: 360px;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-left: 0;
  padding: 0;
}

button[type='submit'] {
  width: 360px;
  padding: 4px;
}
